/* General Styling of the page body, main div and footer.  */
body {
    background-image: url("https://st4.depositphotos.com/thumbs/15954128/image/30995/309954132/api_thumb_450.jpg");
    background-size: cover;
}

#gameDiv {
    background-color: rgba(148, 138, 144, 0.66);
}